body {
  background-color: beige;
}

#box,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

#box {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  background-color: rgb(0, 0, 0);
  margin-right: 30px;
}

.row {
  margin-bottom: 20px;
}

label,
input {
  display: inline-block;
  vertical-align: middle;
}

label {
  width: 50px;
}

button {
  padding: 5px;
}
